!!!
%html
  %head
    %link{ "rel" => "stylesheet", "href" => "/normalize.css/normalize.css", "type" => "text/css" }
    %link{ "rel" => "stylesheet", "href" => "/stylesheets/main.css", "type" => "text/css" }
  %body
    .main
      .menu.home-menu
        %a{ href: '/' } Home
      = yield
